
@{
    foreach (var entry in _entries)
    {
        <li style="background: white;" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border-0">
            <a href="/entry/@entry.Id" style="color: #2d2d2d">@entry.Subject</a>
            <span> <small class="text-muted">@entry.CommentCount</small> </span>
        </li>
    }
    
}


@code {
    [Inject]
    IEntryService entryService { get; set; }

    List<EntriesDvo> _entries = new();

    protected  override  async void OnInitialized()
    {
        await RefreshList();
        base.OnInitialized();
    }

    public async Task RefreshList()
    {
        _entries =  await entryService.GetEntires();
        StateHasChanged();
        
    }

}