<div class="card text-end border-0 bg-white">
    <div class="entry-author bg-white">
        <a style="background: white" href="/profile/@Username">@Username</a>
    </div>

    <div class="entry-date " style="">
        <a  style="color: #1a1e21" href="#">@CreateDate.ToString("dd.MM.yyyy HH:mm:ss")</a>
    </div>
</div>

@code{
    [Parameter]
    public string Username { get; set; }

    [Parameter]
    public DateTime CreateDate { get; set; }
}